{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ $thisPage := .GetPage "." }}

<!-- Slider start -->
{{ with $data.service.services.cybersecurity }}
{{ partial "service-page-header.html" . }}

<section id="service">
  <div class="container cont-service-desc">
    <div class="row d-flex align-items-center">
      <div class="col-sm-12 service-desc">
        <div class="mil-mr-30">
          <div class="mil-icon-frame mil-icon-frame-md mil-icon-bg">
            <img src="/images/pen.svg">
          </div>
        </div>
        <p>{{ .description }}</p>
      </div>
    </div>
  </div>

  {{ with $data.service.services.cybersecurity.catalog }}
  <div class="container">
    <div class="col-sm-12 text-center text-uppercase pillars pt-3 pb-5">
      <h2>{{ .title }}</h2>
    </div>
    <div class="row justify-content-center">
      {{ range .items }}
      <div class="col-sm-12 col-md-5 col-lg-3 pt-3 border" style="border-radius: 10px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.2); min-height: 200px; margin: 0 1em 2em 1em;">
        <div class="pb-3 d-flex">
          <h4>{{ .title }}</h4>
        </div>
        <p>{{ .description }}</p>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>

{{ with .cta }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
{{ end }}

