{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.portfolio.portfolio }}
<section id="header" class="p-0">
  <div class="frontpage success-stories">
    <div class="bg-image">
      <img src="{{ .bg_image | absURL }}" alt="Homepage image">
    </div>
    <div class="frontpage-text">
      <h2>{{ .title | markdownify }}</h2>
      <h3>{{ .subtitle | markdownify }}</h3>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-12 text-center success-stories-intro">
      <p>{{ .introduction }}</p>
    </div>
  </div>
</section>
{{ end }}

<!-- Counter Strat -->
{{ with $data.homepage.funfact }}
{{ partial "funfact.html" . }}
{{ end }}
<!--/ Counter end -->

<section id="portfolio" class="portfolio list">
  <div class="col-sm-12 text-center portfolio-title">
    <h2 class="portfolio-title">{{ $data.portfolio.portfolio.success_stories_title }}</h2>
  </div>
  {{ if .Site.Params.enableFilterSt }}
  <div class="container col-lg-9 col-sm-11 text-center">
    <!--Isotope filter start -->
    <div class="row text-center">
      <div class="col-md-12">
        <div class="isotope-nav filter" data-isotope-nav="isotope">
          <ul>
            <li><a href="#" class="active" data-filter="*">{{i18n `all`}}</a></li>
            {{ $categories := slice }}
            {{ range (where .Site.RegularPages "Section" "portfolio") }}
            {{ range .Params.types }}
            {{ $categories = $categories | append . }}
            {{ end }}
            {{ end }}
            {{ range ( $categories | uniq ) }}
            <li><a href="#" data-filter=".{{ . | urlize }}">{{ . | humanize }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div><!-- Isotope filter end -->
  </div>
  {{ end }}

  <div class="container col-lg-9 col-sm-11 portfolio list">
    <div class="row isotope" id="isotope">
      {{ $index := 0 }}
      {{ range (where .Site.RegularPages "Section" "portfolio") }}
      <div class="col-sm-12 {{range .Params.types }}{{ . | urlize}} {{ end }} isotope-item st-cust border-top">
        <div class="row d-xs-block d-md-flex">
          <div class="col-xs-12 col-md-4 st-cust-logo m0">
            <a href="{{ .RelPermalink }}">
              <img src="{{ .Params.customer.logo | absURL }}" alt="{{ .Params.customer.name }}"/>
            </a>
          </div>
          <div class="col-xs-12 col-md-8 st-cust-desc">
            <a href="{{ .RelPermalink }}">
              <h3>{{ .Params.title | markdownify }}</h3>
              <p>{{ .Params.description | markdownify }}</p>
            </a>
          </div>
        </div>
      </div>
      {{ $index = math.Add $index 1 }}
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
