{{ define "main" }}

<section id="devsecops">
  <div class="container">
    <!-- Portfolio item row start -->
    <div class="row justify-content-md-center">
      <!-- Main content -->
      <div class="col-md-10 col-sm-12 col-xs-12">
        <div class="devsecops">
          <p>{{ .Content }}</p>
        </div>
      </div>
  </div><!-- Container end -->
</section>
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="main-timeline">
                {{ $index := 1 }}
                {{ range .Params.devsecops }}
                <div class="timeline">
                  <a class="timeline-content">
                    <div class="timeline-year">{{ $index }}</div>
                    <div class="timeline-icon"><i class="{{ .icon }}"></i></div>
                    <h3 class="title">{{ .name }}</h3>
                    <p class="description">
                    <ul>
                      {{ range .bullets }}
                      <li>{{ . }}</li>
                      {{ end }}
                    </ul>
                    </p>
                  </a>
                </div>
                {{ $index = add $index 1 }}
                {{ end }}
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

{{ end }}
